*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

:root {
	--social-icon-color: #000;
	--social-icon-hover-color: #0f0;
}


a {
	text-decoration: none;
	color: var(--social-icon-color);
}

.wrapper-content {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	text-align: center;
}

.avatar img{
	border-radius: 50%;
}

.social-icons a:hover {
	color: var(--social-icon-hover-color);
}

.social-icons {
	margin-bottom: 25px;
}

.project {
	background: black;
	color: white;

	display: inline-block;
}